export("column.groups<-")
export("column.groups<-.diffanal.results")
export(as.data.frame.diffanal.results)
export(as.data.table.diffanal.results)
export(as.unique)
export(column.groups)
export(column.groups.diffanal.results)
export(diffanal.results.table)
export(do.diffanal2)
export(do.fold.change)
export(do.median)
export(group)
export(group.diffanal.results)
export(probeset.annotation)
import(Biobase)
import(RJSONIO)
import(data.table)
import(doMC)
import(foreach)
import(genefilter)
import(limma)
import(plyr)
