S3method(column.groups,diffanal.results)
S3method(do.diffanal2,ExpressionSet)
S3method(do.diffanal2,default)
S3method(group,diffanal.results)
S3method(unique,diffanal.results)
export(annotate.diffanal.results)
export(column.groups)
export(df2.limma)
export(df2.perm.t.test)
export(df2.t.test)
export(diffanal.results)
export(do.diffanal2)
export(do.median)
export(group)
export(permute.binarray)
export(probeset.annotation)
export(sortby)
export(variation.filter)
export(which.significant)
import(Biobase)
import(biomaRt)
import(doMC)
import(genefilter)
import(limma)
import(plyr)
