S3method(as.data.frame,diffanal.results)
S3method(column.groups,diffanal.results)
S3method(do.diffanal2,ExpressionSet)
S3method(do.diffanal2,default)
S3method(group,diffanal.results)
S3method(sort,diffanal.results)
S3method(unique,diffanal.results)
export("column.groups<-")
export("column.groups<-.diffanal.results")
export(column.groups)
export(df2.limma)
export(df2.perm.t.test)
export(df2.t.test)
export(diffanal.results)
export(do.diffanal2)
export(do.median)
export(group)
export(permute.binarray)
export(probeset.annotation)
export(which.significant)
import(Biobase)
import(doMC)
import(genefilter)
import(limma)
import(plyr)
